{% extends "base_generic.html" %}

{% block content %}
    <h1 class="title">Contact</h1>
    <p style="padding: 10px 10px 10px 20px; font-size: 23px;">
        Welcome to the contacts page!
    </p>
    <div class="row">
        <div class="column">
            <form>
                <button type="button">Careers</button>
                <button type="button">Orders</button>
            </form>
        </div>
        <div class="column">
            <form>
                <button type="button">Customer Service</button>
                <button type="button">Payment Information</button>
            </form>
        </div>
    </div>
{% endblock %}