{% extends "base_generic.html" %}

{% block content %}
    <h1 class="title">Aeronautics Services</h1>
    <p style="padding: 10px 10px 10px 20px;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas urna  turpis,
        posuere vel faucibus in, maximus vitae nibh. Curabitur  consectetur iaculis ante
        eu rhoncus. Sed ullamcorper vestibulum lectus  ac porttitor. Aliquam facilisis congue
        ante, non fermentum ipsum  pellentesque dictum. Sed placerat, enim a ullamcorper feugiat,
        ipsum  nisi molestie neque, in eleifend magna massa non magna. Mauris id velit  eros.
        Aliquam id massa quis orci vestibulum varius vitae eget neque.  Duis pellentesque libero
        eu diam gravida, quis scelerisque quam  facilisis. Duis feugiat placerat egestas. Vivamus
        ante augue, tristique  ut sagittis id, bibendum sed purus. Suspendisse dolor nunc,
    </p>
{% endblock %}